<p>presentation works!</p>
<div class="presentation_container">
  <div class="flex_box">
      <div class="date">
            <span class="letter">2</span>
            <span class="letter">0</span>
            <span class="letter">1</span>
            <span class="letter">2</span>
            <span class="letter">-</span>
            <span class="letter">2</span>
            <span class="letter">0</span>
            <span class="letter">1</span>
            <span class="letter">5</span>
      </div>
      <div class="descr">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque odio perferendis fugit molestias cupiditate obcaecati similique nostrum vero laboriosam soluta in earum deleniti tenetur illo, error eligendi optio minus sunt.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vitae cupiditate atque voluptatibus, eveniet molestias nobis, ab aspernatur beatae, consectetur rerum ipsa tenetur officia laborum. Debitis doloribus cumque ex animi?
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque odio perferendis fugit molestias cupiditate obcaecati similique nostrum vero laboriosam soluta in earum deleniti tenetur illo, error eligendi optio minus sunt.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vitae cupiditate atque voluptatibus, eveniet molestias nobis, ab aspernatur beatae, consectetur rerum ipsa tenetur officia laborum. Debitis doloribus cumque ex animi?</p>

        </div>
  </div>
</div>
