

  $planete-size: 100px;
  $planete-background-color: red;// var(--planete-color);
  $planete-border-color: rgba(240, 240, 199, 0.925);
  $planete-shadow-color: rgba(88, 1, 1, 0.288);
  $planete-light-color: rgba(219, 63, 24, 0.911);

  $planete-margin : 25% 50% 25% 50%;

@mixin border-gradient($from, $to, $weight: 0, $blur-radius:0, $spread-radius:0) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);
/* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 1px 0 0 $weight rgba($mix-sub-to, .25),
              -1px 0 0 $weight rgba($mix-sub-from, .25),
               0 1px 0 $weight rgba($mix-sub-to, .25),
               0 -1px  0 $weight  rgba($mix-sub-from, .25),
              -1px 1px 0 $weight rgba($mix-main, .5),
              1px -1px 0 $weight rgba($mix-main, .5),
              -1px -1px 0 $weight rgba($to, .75),
              1px 1px 0 $weight rgba($from, .75),
               0 0  $blur-radius $spread-radius $from,
               0 0  $blur-radius $spread-radius $mix-sub-from;
}

@keyframes rotateThis {
  from {
    transform: rotate(0deg) scale(1);
  }

  to {
    transform: rotate(360deg) scale(1);
  }
}

.container{
  display: flex;
}

.box{

  flex:none;
  width: 100px;
  height: 150px;
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 50px;

}

.planete{


  flex:none;
  width: $planete-size;
  height: $planete-size;

  border-radius: 50%;

  margin : $planete-margin;

  overflow: auto;

  background: linear-gradient(127deg,$planete-shadow-color 0%, $planete-background-color 100%);
 // background: $planete-background-color;
  @include border-gradient($planete-background-color, $planete-border-color);

}

.planete:active, .planete:hover{
  background:linear-gradient(127deg,$planete-shadow-color 0%, $planete-light-color 80%);
  @include border-gradient($planete-light-color, $planete-border-color, 2px, 20px, 10px);
  animation: rotateThis 5s linear infinite;

}

