
/*====--- BACKGROUND COLOR APP ---===*/
$app_main_color : rgb(243, 231, 231);
/*====--- BANNER COLOR ---===*/
$banner_background_color : linear-gradient(78deg, rgba(255,255,255,1) 37%, rgba(254,239,239,1) 86%, rgba(243,231,231,0.99) 100%);

$banner_border_bottom_color : 2px solid rgba(255,255,255,1);

$banner_menu_burger_color:  white;

$banner_text_link_color : rgb(153, 81, 40);
$banner_text_decoration_underligne_color : rgb(30, 126, 6);

$banner_mobile_li_border_bottom_color:#f7c4e0;

$banner_mobile_li_border_left_color: #f3dfee;
$banner_mobile_li_border_right_color: rgb(252, 217, 244);
$banner_mobile_li_background_color: #f7f1f1;
$banner_mobile_li_text_color: rgb(30, 126, 6);

$banner_mobile_li_border_left_hover_color: #f8eaf5;
$banner_mobile_li_border_right_hover_color: rgb(250, 237, 247);
$banner_mobile_li_background_hover_color:  #ffffff;
